*{
    margin: 0;
    padding: 0;
}

body { font-size: 75%; }

#body{
    top: 5.7em;
    width: 100%;
    height: calc(100% - 5.7em);
    position: fixed;
    display: flex;
    flex-direction: row;
}